https://dl.k8s.io/{{ k8s-v | default 'v1.31.2' }}/bin/linux/{{ cpu-pkg }}/kube-apiserver
https://dl.k8s.io/{{ k8s-v | default 'v1.31.2' }}/bin/linux/{{ cpu-pkg }}/kube-controller-manager
https://dl.k8s.io/{{ k8s-v | default 'v1.31.2' }}/bin/linux/{{ cpu-pkg }}/kube-proxy
https://dl.k8s.io/{{ k8s-v | default 'v1.31.2' }}/bin/linux/{{ cpu-pkg }}/kube-scheduler
https://dl.k8s.io/{{ k8s-v | default 'v1.31.2' }}/bin/linux/{{ cpu-pkg }}/kubectl
https://dl.k8s.io/{{ k8s-v | default 'v1.31.2' }}/bin/linux/{{ cpu-pkg }}/kubelet
https://github.com/containerd/containerd/releases/download/v{{ containerd-v | default '2.0.0' }}/containerd-{{ containerd-v | default '2.0.0' }}-linux-{{ cpu-pkg }}.tar.gz
https://github.com/containernetworking/plugins/releases/download/{{ cnet-v | default 'v1.6.0' }}/cni-plugins-linux-{{ cpu-pkg }}-{{ cnet-v | default 'v1.6.0' }}.tgz
https://github.com/etcd-io/etcd/releases/download/{{ etcd-v | default 'v3.4.34' }}/etcd-{{ etcd-v | default 'v3.4.34' }}-linux-{{ cpu-pkg }}.tar.gz 
https://github.com/kubernetes-sigs/cri-tools/releases/download/{{ crit-v | default 'v1.31.1' }}/crictl-{{ crit-v | default 'v1.31.1' }}-linux-{{ cpu-pkg }}.tar.gz
https://github.com/opencontainers/runc/releases/download/{{ runc-v | default 'v1.2.1' }}/runc.{{ cpu-pkg }}
