https://dl.k8s.io/{{ k8s-v }}/bin/linux/{{ cpu-pkg }}/kube-apiserver
https://dl.k8s.io/{{ k8s-v }}/bin/linux/{{ cpu-pkg }}/kube-controller-manager
https://dl.k8s.io/{{ k8s-v }}/bin/linux/{{ cpu-pkg }}/kube-proxy
https://dl.k8s.io/{{ k8s-v }}/bin/linux/{{ cpu-pkg }}/kube-scheduler
https://dl.k8s.io/{{ k8s-v }}/bin/linux/{{ cpu-pkg }}/kubectl
https://dl.k8s.io/{{ k8s-v }}/bin/linux/{{ cpu-pkg }}/kubelet
https://github.com/containerd/containerd/releases/download/v{{ containerd-v }}/containerd-{{ containerd-v }}-linux-{{ cpu-pkg }}.tar.gz
https://github.com/containernetworking/plugins/releases/download/{{ cnet-v }}/cni-plugins-linux-{{ cpu-pkg }}-{{ cnet-v }}.tgz
https://github.com/etcd-io/etcd/releases/download/{{ etcd-v }}/etcd-{{ etcd-v }}-linux-{{ cpu-pkg }}.tar.gz
https://github.com/kubernetes-sigs/cri-tools/releases/download/{{ crit-v }}/crictl-{{ crit-v }}-linux-{{ cpu-pkg }}.tar.gz
https://github.com/opencontainers/runc/releases/download/{{ runc-v }}/runc.{{ cpu-pkg }}
